MONGO_URI=
PORT =
# JWT_SECRET=besttogeratearandomstring
# JWT_EXPIRATION=3600
# MONGO_URI=mongodb+srv://Anayo:anayo@vr2.jgum6.mongodb.net/sleeper?retryWrites=true&w=majority
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=card_tracker
POSTGRES_PASSWORD=card_tracker
POSTGRES_DATABASE=card_tracker

RABBIT_MQ_URI=
RABBIT_MQ_WEBHOOK_QUEUE=
RABBIT_MQ_AUTH_QUEUE=
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_HOST=
RABBIT_AUTH_QUEUE=git 